<div class="addGuestForm" data-action="addGuestForm">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Guest's Name" aria-label="Guest's Name" aria-describedby="Guest's Name">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="add-guest" type="button">Add Guest</button>
        </div>
    </div>
</div>