<div class="difficultyBar" >
  <p>Choose how balanced you want the match to be:</p>

  <div class="btn-group" role="group" aria-label="Match Difficulty">
    {{!-- <button type="button" class="btn btn-light" data-level="l">Low</button>
    <button type="button" class="btn btn-light" data-level="m">Medium</button>
    <button type="button" class="btn btn-light" data-level="h">High</button> --}}
    <button type="button" class="btn btn-secondary active" data-level="b">Balanced</button>
    <button type="button" class="btn btn-light" data-level="r">Random</button>
  </div>
</div>