<form id="matchAdd" action="/matches">
    <p>Date: </p> <input name="name" type="date">
    <p>Team 1: </p> <input name="team1" type="text">
    <p>Goals: </p> <input name="team1" type="text">
    <p>Team 2: </p> <input name="team2" type="text">
    <p>Goals: </p> <input name="team1" type="text">
    <br>
    <input type="submit" value="Submit">
</form>
