<form id="playerAdd" action="/players">
    <p>Name: </p> <input name="name" type="text">
    <p>Nickname: </p> <input name="nickname" type="text">
    <br>
    <input type="submit" value="Submit">
</form>
