<h1>Mejengas</h1>
<br />





<div class="row">
    <!-- List -->
    <div class="col-md-4">
        <p>Total Players:
            <span id="total-players">0</span>
        </p>
        <div class="list-group" id="players-list">
            {{#each this.players}}
                <a  href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-player" 
                    data-player-id="{{this._id}}">
                        {{this.name}}
                        <span class="badge badge-primary badge-pill">{{this.rating}}</span>
                </a>
            {{/each}}
        </div>
    </div>

    <!-- Teams/Results -->
    <div class="col-md-8">
        <button type="button" class="btn btn-secondary" id="generate-teams">Generate Teams</button>
        <br />
        <br />

        {{> difficultyBar/difficultyBar }}

        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert-players">
            <p class="plert-players-text"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Team A</h2>
                <div id="team-A-grid">
                    <!-- Filled by js -->
                </div>
            </div>
            <div class="col-md-6">
                <h2>Team B</h2>
                <div id="team-B-grid">
                    <!-- Filled by js -->
                </div>
            </div>
        </div>
    </div>
</div>
