<h1>Mejengas</h1>
<br />

<div class="row">
    <!-- List -->
    <div class="col-md-4">

        {{> addGuestForm/addGuestForm }}

        {{> playersList/playersList this.players }}
        
    </div>

    <!-- Teams/Results -->
    <div class="col-md-8">

        <br />

        {{> difficultyBar/difficultyBar }}

        <br />

        <button type="button" class="btn btn-secondary" id="generate-teams">Generate Teams</button>

        <br /><br />

        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert-players">
            <p class="plert-players-text"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Team A</h2>
                <div id="team-A-grid">
                    <!-- Filled by js -->
                </div>
            </div>
            <div class="col-md-6">
                <h2>Team B</h2>
                <div id="team-B-grid">
                    <!-- Filled by js -->
                </div>
            </div>
        </div>
    </div>
</div>
