<h1>Matches maintenance </h1>

<a href="/matchesTool/add">Add new match</a>

<br>
<br>
<br>
<h2>Match list</h2>

<ul>
    {{#each this.matches}}
        {{!-- <li>{{this.name}} <a href="/playersTool/edit/{{this._id}}">Edit</a> <a href="/playersTool/delete/{{this._id}}">Delete</a></li> --}}
    {{/each}}
</ul>
